div {
	margin: 0; padding: 0;
}

div div {
	background: #A4CA39;
	position: relative;
}

.head, .l_arm, .r_arm {
	-webkit-transition: transform .1s ease-in-out;
}

.l_ant {
	-webkit-transition: transform .5s ease-in-out;
}

.android {
	height: 404px; width: 334px;
	margin: 0 auto;
}

.head {
	width: 220px; 
	height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
	margin: 0 auto;
}

.l_ant {
	width: 6px; 
	height: 50px;
	border-radius: 3px;
	top: -32px;
	left: 45px;
	position: absolute;
	transform: rotate(-30deg);
}

.r_ant {
	width: 6px; 
	height: 50px;
	top: -32px;
	right: 45px;
	position: absolute;
	border-radius: 3px;
	transform: rotate(30deg);
}

.l_eye {
	width: 20px; 
	height: 20px;
	background: white;
	top: 45px;
	left: 60px;
	position: absolute;
	border-radius: 100%;
}

.r_eye {
	width: 20px; 
	height: 20px;
	background: white;
	top: 45px;
	right: 60px;
	position: absolute;
	border-radius: 100%;
}

.body {
	width: 220px; 
	height: 184px;
	top: 40px;
	margin: 0 auto;
	border-radius: 0 0 15% 15%;
}

.l_arm {
	width: 50px; 
	height: 150px;
	left: -56px;
	border-radius: 25px;
}

.r_arm {
	width: 50px; 
	height: 150px;
	top: -150px;
	left: 226px; 
	border-radius: 25px;
}

.l_leg {
	width: 50px; 
	height: 110px;
	top: -146px;
	left: 40px; 
	border-radius: 0 0 25px 25px;
}

.r_leg {
	width: 50px; 
	height: 110px;
	top: -256px;
	left: 130px; 
	border-radius: 0 0 25px 25px;
}

.l_arm:hover {
	transform: rotate(15deg) translate(-14px, 0)
}

.r_arm:hover {
	transform: rotate(-15deg) translate(14px, 0);
}

.head:hover {
	transform: rotate(-5deg) translate(0px, -8px);
}

.l_ant:hover {
	transform: rotate(360deg);
}

